section{
    align-items: center;
}

div.caja{
    height: 20em;
    width: 80%;
    margin-top: 2%;
}

div.caja h1{
    margin: 2%;
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
}

div.caja p{
    text-align: center;
    margin: 5%;
    align-self: center;
}

article.caja{
    height: 20em;
    margin: 3%;
    width: 80%;
}

section.caja{
    height: 20em;
    width: 90%;
}

section.caja h1{
    grid-area: encabezado;
    text-align: center;
    padding: 2%;
}

section.caja form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90%;
    text-align: center;
}
section.caja form button{
    justify-self: flex-end;
}

section.caja form input{
    justify-self: flex-end;
    margin: 3%;
}

table{
    background-color: #41411a;
    border: 3px solid black;
    min-height: 100%;
    table-layout: fixed;
}

thead{
    background-color: #1a1a0b;
    position: sticky;
    top: 0;
}

/* Set a fixed scrollable wrapper */
.tableWrap {
  height: 90%;
  border: 2px solid black;
  overflow: auto;
}
/* Set header to stick to the top of the container. */

thead th{
    width: 10rem;
    padding: 1%;
    color: #CAC721;
}

tbody{
    background-color: wheat;
    overflow: scroll;
    height: 100%;
    width: 40rem;
}

tbody tr th{
    height: 3em;
}

tfoot{
    background-color: #1a1a0b;
    border-collapse: collapse;
    color: #CAC721;
    font-size: 80%;
    height: 15%;
    border: 2px solid wheat;
    position: sticky;
    bottom: 0;
}

tfoot th{
    margin: 2%;
    padding: 1%;
}

@media only screen and (min-width:660px) {
    section{
        flex-wrap: wrap;
        justify-content: center;
    }

    div.caja{
        width: 30%;
    }

    article.caja{
        width:40%;
        height: fit-content;
    }

    section.caja{
        width: 70%;
        height: 30%;
        justify-content: space-around;
        background-image: none;
    }
    section.caja .boton{
       transform: translateY(180%);
    }

    section.caja form{
        width: 50%;
    }
}