* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #CAC721;
    justify-items: center;
    height: 100vh;
}

.contenido {
    display: grid;
    height: 100%;
    margin-top: 0;
    width: 100%;
    grid-template-rows: 1.3fr 0.5fr 7fr 1.2fr;
    grid-template-areas:
        "header"
        "nav"
        "contenido"
        "footer";
}

.nonav {
    grid-template-rows: 1.3fr 7.5fr 1.2fr; 
    grid-template-areas:
        "header"
        "contenido"
        "footer";
}

.caja {
    background-color: wheat;
    border: 4px solid #41411A;
    border-radius: 10px;
}

.boton {
    margin: 3%;
    background-color: #2e2e13;
    color: #CAC721;
    border: 2px solid black;
}

.boton:hover {
    background-color: #CAC721;
    color: #2e2e13;
    border: 2px dashed #2e2e13;
}

header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background-color: #41411A;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto min-content;
    grid-template-areas: "logo nav";
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header img {
    grid-area: logo;
    width: 80%;
    height: 80%;
    align-self: center;
    justify-self: center;
}

.menu {
    display: flex;
    flex-flow: row-reverse;
    margin: 5%;
}

.menu button {
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    align-self: center;
    justify-self: flex-end;
    background-color: #41411A;
    justify-content: center;
    align-items: center;
    grid-area: nav;
}

.menu button div {
    width: 1.5rem;
    height: 0.3rem;
    background-color: white;
    margin: 0.1rem 0;
    align-self: center;
}

nav {
    display: none;
    padding: 2% 3%;
    flex-wrap: wrap;
    background-color: #191805df;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    grid-area: nav;
}

.show {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5%;
    justify-content: space-evenly;
    width: 120%;
    justify-content: flex-end;
}

a.boton {
    width: 7rem;
    text-align: center;
    padding: 1.5%;
}

section {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
    background-color: #41411aae;
    border-radius: 3px;
}

section article {
    display: flex;
    height: 25%;
    margin: 2.5%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 4%;
}

section article footer {
    width: 80%;
    height: 20%;
    align-self: flex-end;
    justify-content: center;
}

section article footer h5 {
    color: white;
    align-self: center;
}

section article p {
    text-align: center;
    font-size: 80%;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: black;
    color: white;
    padding: 1.5%;
    font-size: 70%;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .contenido {
        display: grid;
        height: 100%;
        margin-top: 0;
        width: 100%;
        grid-template-rows: 0.1fr 9.5fr 0.5fr;
        grid-template-areas:
            "header"
            "nav"
            "contenido"
            "footer";
    }
    .menu{
        display: none;
    }
    nav {
        display: flex;
        grid-area: nav;
        height: 3em;
    }

    nav ul{
        width: 100%;
        transform: translateY(-37%);
        justify-content: center;
    }

    header{
        display: flex;
        justify-content: center;
        height: 10rem;
    }

    header img {
        height: 10em;
        width: 10em;
        align-self: center;
    }

    section {
        flex-direction: row;
        height: 120vh;
        align-items: center;
        background-image: url(../images/43_studio.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    section article.caja{
        height: 20rem;
    }
}